In [1]:
import pandas as pd

df = pd.read_csv("Cardiovascular_Disease_dataset.csv")

In [2]:
df

,id,Age,Gender,Height,Weight,Systolic blood pressure,Diastolic blood pressure,Cholesterol,Glucose,Smoke,Alcohol intake,Physical activity,Presence or absence of cardiovascular disease
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [3]:
features = df.drop(['id','Presence or absence of cardiovascular disease'], axis=1)
target = df['Presence or absence of cardiovascular disease']

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=42, stratify=target)

In [5]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [6]:
from xgboost import XGBClassifier

clf = XGBClassifier()
clf.fit(X_train_scaled, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, feature_types=None, gamma=0, gpu_id=-1,
              grow_policy='depthwise', importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_bin=256, max_cat_threshold=64, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0, ...)

In [7]:
pred = clf.predict(X_test_scaled)

In [8]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

print("Accuracy :",accuracy_score(y_test, pred))
print("Precision :",precision_score(y_test, pred))
print("Recall :",recall_score(y_test, pred))
print("F1 score :",f1_score(y_test, pred))

Accuracy : 0.7303428571428572
Precision : 0.7495042141794744
Recall : 0.6914808461978273
F1 score : 0.7193243323618628

In [9]:
from sklearn.metrics import confusion_matrix

print(confusion_matrix(y_test, pred,labels=[1,0]))

[[6047 2698]
 [2021 6734]]

In [10]:
from lightgbm import LGBMClassifier

clf2 = LGBMClassifier()
clf2.fit(X_train_scaled, y_train)

LGBMClassifier()

In [11]:
pred = clf2.predict(X_test_scaled)

In [12]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

print("Accuracy :",accuracy_score(y_test, pred))
print("Precision :",precision_score(y_test, pred))
print("Recall :",recall_score(y_test, pred))
print("F1 score :",f1_score(y_test, pred))

Accuracy : 0.7354857142857143
Precision : 0.7557157057654076
Recall : 0.6954831332189823
F1 score : 0.7243494313106652

In [13]:
from sklearn.metrics import confusion_matrix

print(confusion_matrix(y_test, pred,labels=[1,0]))

[[6082 2663]
 [1966 6789]]