In [1]:
import pandas as pd

df = pd.read_csv('Pima_Indians_Diabetes_Database.csv')

In [2]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [4]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [5]:
keys = ["Glucose","BloodPressure","SkinThickness","Insulin","BMI"]

for key in keys:
    df.loc[df[key] <= df[key].quantile(0.10), key]=None
    df.loc[df[key] >= df[key].quantile(0.90), key]=None

In [6]:
df.isnull().sum()

Pregnancies                   0
Glucose                     148
BloodPressure               171
SkinThickness               286
Insulin                     414
BMI                         150
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [7]:
features = df[df.keys().drop('Outcome')]
outcome = df['Outcome']

In [8]:
from sklearn.model_selection import train_test_split

train_features, test_features, train_target, test_target = train_test_split(features,outcome,stratify=outcome,random_state=42)

In [9]:
keys = ["Glucose","BloodPressure","SkinThickness","Insulin","BMI"]

for key in keys:
    tmp = train_features[key].median()
    train_features[key].fillna(tmp,inplace=True)
    test_features[key].fillna(tmp,inplace=True)

In [10]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,620.000000,597.000000,482.000000,354.000000,618.000000,768.000000,768.000000,768.000000
mean,3.845052,120.103226,71.396985,26.921162,124.098870,32.081392,0.471876,33.240885,0.348958
std,3.369578,21.424225,7.989813,8.332364,63.832987,4.671923,0.331329,11.760232,0.476951
min,0.000000,86.000000,55.000000,7.000000,14.000000,23.700000,0.078000,21.000000,0.000000
25%,1.000000,102.000000,64.000000,20.000000,74.000000,28.325000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,28.000000,115.000000,32.250000,0.372500,29.000000,0.000000
75%,6.000000,136.000000,78.000000,33.000000,168.000000,35.500000,0.626250,41.000000,1.000000
max,17.000000,170.000000,86.000000,41.000000,291.000000,42.200000,2.420000,81.000000,1.000000

In [11]:
from sklearn.preprocessing import MinMaxScaler

feature_scaler = MinMaxScaler()
train_features_scaled = feature_scaler.fit_transform(train_features)
test_features_scaled = feature_scaler.transform(test_features)

In [12]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(train_features_scaled, train_target)

KNeighborsClassifier()

In [13]:
y_pred = knn.predict(test_features_scaled)

In [14]:
from sklearn.metrics import accuracy_score

print('Accuracy :',accuracy_score(test_target,y_pred))

Accuracy : 0.6666666666666666

In [15]:
from sklearn.metrics import accuracy_score, precision_score,recall_score,f1_score

print('Accuracy :',accuracy_score(test_target,y_pred))
print('Precision :',precision_score(test_target,y_pred))
print('Recall :',recall_score(test_target,y_pred))
print('F1 score :',f1_score(test_target,y_pred))

Accuracy : 0.6666666666666666
Precision : 0.5245901639344263
Recall : 0.47761194029850745
F1 score : 0.5