In [1]:
import pandas as pd

df = pd.read_csv("Cardiovascular_Disease_dataset.csv")

In [2]:
df

,id,Age,Gender,Height,Weight,Systolic blood pressure,Diastolic blood pressure,Cholesterol,Glucose,Smoke,Alcohol intake,Physical activity,Presence or absence of cardiovascular disease
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [3]:
features = df.drop(['id','Presence or absence of cardiovascular disease'], axis=1)
target = df['Presence or absence of cardiovascular disease']

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=42, stratify=target)

In [5]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [6]:
from sklearn.svm import SVC

clf = SVC()
clf.fit(X_train_scaled, y_train)

SVC()

In [7]:
pred = clf.predict(X_test_scaled)

In [8]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

print("Accuracy :",accuracy_score(y_test, pred))
print("Precision :",precision_score(y_test, pred))
print("Recall :",recall_score(y_test, pred))
print("F1 score :",f1_score(y_test, pred))

Accuracy : 0.6407428571428572
Precision : 0.6498780487804878
Recall : 0.6093767867352773
F1 score : 0.6289760991442903

In [9]:
from sklearn.metrics import confusion_matrix

print(confusion_matrix(y_test, pred,labels=[1,0]))

[[5329 3416]
 [2871 5884]]

In [10]:
from sklearn.svm import LinearSVC

clf = LinearSVC()
clf.fit(X_train_scaled, y_train)

LinearSVC()

In [11]:
pred = clf.predict(X_test_scaled)

In [12]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

print("Accuracy :",accuracy_score(y_test, pred))
print("Precision :",precision_score(y_test, pred))
print("Recall :",recall_score(y_test, pred))
print("F1 score :",f1_score(y_test, pred))

Accuracy : 0.6451428571428571
Precision : 0.656
Recall : 0.6094911377930246
F1 score : 0.6318909306461175

In [13]:
from sklearn.metrics import confusion_matrix

print(confusion_matrix(y_test, pred,labels=[1,0]))

[[5330 3415]
 [2795 5960]]